<div class="m-2">
  <span nz-typography>Conversion Ratio: </span>
  <span>{{(ratio$ | async).toFixed(4)}}</span>
  <i class="text-success pl-2" *ngIf="!getUsedRatio((ratio$ | async), (fixedRatio$ | async))" nz-icon
    nzType="check-circle" nzTheme="outline"></i>
  <i class="text-danger pl-2" *ngIf="getUsedRatio((ratio$ | async), (fixedRatio$ | async))" nz-icon
    nzType="info-circle" nzTheme="outline"></i>
</div>
<div class="m-2">
  <span nz-typography>Fixed Ratio: </span>
  <span>{{(fixedRatio$ | async).toFixed(4)}}</span>
  <i class="text-danger pl-2" *ngIf="!getUsedRatio((ratio$ | async), (fixedRatio$ | async))" nz-icon
    nzType="info-circle" nzTheme="outline"></i>
  <i class="text-success pl-2" *ngIf="getUsedRatio((ratio$ | async), (fixedRatio$ | async))" nz-icon
    nzType="check-circle" nzTheme="outline"></i>
</div>
