<nz-table #history [nzData]="history$ | async" [nzBordered]="true">
  <thead>
    <tr>
      <th>Source Currency</th>
      <th>Source</th>
      <th>Target Currency</th>
      <th>Target</th>
      <th>Live Ratio</th>
      <th>Fixed Ratio</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let e of history.data">
      <td>
        <span nz-typography>{{e?.from}}</span>
      </td>
      <td>
        <span nz-typography>{{e?.fromValue}}</span>
        <i *ngIf="e.from == 'Euro'" nz-icon nzType="euro" nzTheme="outline"></i>
        <i *ngIf="e.from == 'Dollar'" nz-icon nzType="dollar" nzTheme="outline"></i>
      </td>
      <td>
        <span nz-typography>{{e?.to}}</span>
      </td>
      <td>
        <span nz-typography>{{e?.toValue}}</span>
        <i *ngIf="e.to == 'Euro'" nz-icon nzType="euro" nzTheme="outline"></i>
        <i *ngIf="e.to == 'Dollar'" nz-icon nzType="dollar" nzTheme="outline"></i>
      </td>
      <td [class.text-success]="e.used == 'live'" [class.text-danger]="e.used == 'fixed'">
        {{e?.changeRatio.toFixed(4)}}
      </td>
      <td [class.text-success]="e.used == 'fixed'" [class.text-danger]="e.used == 'live'">
        {{e?.fixedRatio.toFixed(4)}}
      </td>
    </tr>
  </tbody>
</nz-table>
