.trans-arrow {
    display: none;
}
.transformation-card.ant-card{
    border-radius: 0px !important;

    border-top: none;
    border-right: none;
    border-left: none;
}
.pipe-bg{
    padding: 0px !important;
    border: 1px solid #e8e8e8;
}