<div class="flex p-2 start button-spacing">
  <button nz-button nz-tooltip nzTooltipTitle='Switch Convertion.' (click)="switch()">
    <i nz-icon nzType="swap" nzTheme="outline"></i>
  </button>

  <app-value-modifier icon="percentage" tooltip="Modify The Fixed Ratio." title="Fixed Ratio Editor"
    (save)="saveFixedRatio($event)">
  </app-value-modifier>

  <button nz-button nz-tooltip nzTooltipTitle='Stop Live Update.' (click)="unsub()">
    <i nz-icon nzType="stop" nzTheme="outline"></i>
  </button>

  <button nz-button nz-tooltip nzTooltipTitle='Delete History.' (click)="deleteHistory()">
    <i nz-icon nzType="delete" nzTheme="outline"></i>
  </button>
</div>

<div class="flex between mt-3 p-2">
  <nz-card style="width: 40%;" [class.selected]="type == 'EuroToDollar'">
    <p>Ammount in Euro</p>
    <nz-input-group nzPrefixIcon="euro">
      <input type="number" nz-input *ngIf="type != 'DollarToEuro'" [(ngModel)]="ammountinEuro"
        placeholder="Please enter the amount in Euro" (change)="unsub()" />
      <span nz-typography *ngIf="type == 'DollarToEuro'">{{ammountinEuro}}</span>
    </nz-input-group>
  </nz-card>
  <button nz-button nz-tooltip nzTooltipTitle='Calculate' (click)="calculate()">
    <nz-badge nzDot *ngIf="isModified"></nz-badge>
    <i nz-icon nzType="calculator"></i>
  </button>
  <nz-card style="width: 40%;" [class.selected]="type == 'DollarToEuro'">
    <p>Ammount in Dollar</p>
    <nz-input-group nzPrefixIcon="dollar">
      <input type="number" nz-input *ngIf="type != 'EuroToDollar'" [(ngModel)]="ammountinDollar"
        placeholder="Please enter the amount in Dollar" (change)="unsub()" />
      <span nz-typography *ngIf="type == 'EuroToDollar'">{{ammountinDollar}}</span>
    </nz-input-group>
  </nz-card>
</div>

<div class="flex center mt-3">
  <app-converter-ratio></app-converter-ratio>
</div>

<div class="flex center mt-3 p-2">
  <app-conversion-history></app-conversion-history>
</div>
